@import url("https://fonts.googleapis.com/css2?family=Noto+Serif%3Aital%2Cwght%400%2C400%3B0%2C700%3B1%2C400%3B1%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600&display=swap");

.plasmic_tokens {
  --token-AnywKFtNr0Ry: #ffffff;
  --plasmic-token-white: var(--token-AnywKFtNr0Ry);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-GKFtL8FRuq58_font-family: "Noto Serif", serif;
  --mixin-GKFtL8FRuq58_font-size: 16px;
  --mixin-GKFtL8FRuq58_font-weight: 400;
  --mixin-GKFtL8FRuq58_font-style: normal;
  --mixin-GKFtL8FRuq58_color: #535353;
  --mixin-GKFtL8FRuq58_text-align: left;
  --mixin-GKFtL8FRuq58_text-transform: none;
  --mixin-GKFtL8FRuq58_line-height: 1.5;
  --mixin-GKFtL8FRuq58_letter-spacing: normal;
  --mixin-GKFtL8FRuq58_white-space: pre-wrap;
  --mixin-GKFtL8FRuq58_user-select: text;
  --mixin-GKFtL8FRuq58_text-decoration-line: none;
  --mixin-GKFtL8FRuq58_text-overflow: clip;
  --mixin-qEhFX4wsm4cU_color: #000000;
  --mixin-qEhFX4wsm4cU_font-size: 24px;
  --mixin-qEhFX4wsm4cU_font-weight: 600;
  --mixin-qEhFX4wsm4cU_letter-spacing: -0.5px;
  --mixin-qEhFX4wsm4cU_line-height: 1.3;
  --mixin-qEhFX4wsm4cU_white-space: pre-wrap;
  --mixin-QhR0zPzKP0O7_color: #000000;
  --mixin-QhR0zPzKP0O7_font-size: 20px;
  --mixin-QhR0zPzKP0O7_font-weight: 600;
  --mixin-QhR0zPzKP0O7_letter-spacing: -0.3px;
  --mixin-QhR0zPzKP0O7_line-height: 1.5;
  --mixin-QhR0zPzKP0O7_white-space: pre-wrap;
  --mixin-w3orHcJmFWPD_color: #000000;
  --mixin-w3orHcJmFWPD_font-size: 16px;
  --mixin-w3orHcJmFWPD_font-weight: 600;
  --mixin-w3orHcJmFWPD_line-height: 1.5;
  --mixin-w3orHcJmFWPD_white-space: pre-wrap;
  --mixin-aNIvWDLXDw_x_color: #0070f3;
  --mixin-aNIvWDLXDw_x_white-space: pre-wrap;
  --mixin-MFZvPgoSR-4I_border-left-color: #dddddd;
  --mixin-MFZvPgoSR-4I_border-left-style: solid;
  --mixin-MFZvPgoSR-4I_border-left-width: 3px;
  --mixin-MFZvPgoSR-4I_color: #888888;
  --mixin-MFZvPgoSR-4I_padding-left: 10px;
  --mixin-MFZvPgoSR-4I_white-space: pre-wrap;
  --mixin-jpENiQTP2Gx4_color: #000000;
  --mixin-jpENiQTP2Gx4_font-size: 26px;
  --mixin-jpENiQTP2Gx4_font-weight: 500;
  --mixin-jpENiQTP2Gx4_letter-spacing: -1px;
  --mixin-jpENiQTP2Gx4_line-height: 1;
  --mixin-jpENiQTP2Gx4_font-style: normal;
  --mixin-jpENiQTP2Gx4_white-space: pre-wrap;
  --mixin-CW_uxrI9o3Xp_color: #000000;
  --mixin-CW_uxrI9o3Xp_font-size: 28px;
  --mixin-CW_uxrI9o3Xp_font-weight: 400;
  --mixin-CW_uxrI9o3Xp_line-height: 1.1;
  --mixin-CW_uxrI9o3Xp_letter-spacing: -0.5px;
  --mixin-CW_uxrI9o3Xp_font-style: italic;
  --mixin-CW_uxrI9o3Xp_white-space: pre-wrap;
  --mixin-j-MR4kkCPiD__color: #000000;
  --mixin-j-MR4kkCPiD__font-size: 32px;
  --mixin-j-MR4kkCPiD__font-weight: 600;
  --mixin-j-MR4kkCPiD__line-height: 1.2;
  --mixin-j-MR4kkCPiD__white-space: pre-wrap;
  --mixin-7FHSG7bP5Shn_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7FHSG7bP5Shn_border-bottom-color: #dddddd;
  --mixin-7FHSG7bP5Shn_border-bottom-style: solid;
  --mixin-7FHSG7bP5Shn_border-bottom-width: 1px;
  --mixin-7FHSG7bP5Shn_border-left-color: #dddddd;
  --mixin-7FHSG7bP5Shn_border-left-style: solid;
  --mixin-7FHSG7bP5Shn_border-left-width: 1px;
  --mixin-7FHSG7bP5Shn_border-right-color: #dddddd;
  --mixin-7FHSG7bP5Shn_border-right-style: solid;
  --mixin-7FHSG7bP5Shn_border-right-width: 1px;
  --mixin-7FHSG7bP5Shn_border-top-color: #dddddd;
  --mixin-7FHSG7bP5Shn_border-top-style: solid;
  --mixin-7FHSG7bP5Shn_border-top-width: 1px;
  --mixin-7FHSG7bP5Shn_border-bottom-left-radius: 3px;
  --mixin-7FHSG7bP5Shn_border-bottom-right-radius: 3px;
  --mixin-7FHSG7bP5Shn_border-top-left-radius: 3px;
  --mixin-7FHSG7bP5Shn_border-top-right-radius: 3px;
  --mixin-7FHSG7bP5Shn_font-family: "Inconsolata";
  --mixin-7FHSG7bP5Shn_padding-bottom: 1px;
  --mixin-7FHSG7bP5Shn_padding-left: 4px;
  --mixin-7FHSG7bP5Shn_padding-right: 4px;
  --mixin-7FHSG7bP5Shn_padding-top: 1px;
  --mixin-7FHSG7bP5Shn_white-space: pre-wrap;
  --mixin-Iuaj9_r0rQtd_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Iuaj9_r0rQtd_border-bottom-color: #dddddd;
  --mixin-Iuaj9_r0rQtd_border-bottom-style: solid;
  --mixin-Iuaj9_r0rQtd_border-bottom-width: 1px;
  --mixin-Iuaj9_r0rQtd_border-left-color: #dddddd;
  --mixin-Iuaj9_r0rQtd_border-left-style: solid;
  --mixin-Iuaj9_r0rQtd_border-left-width: 1px;
  --mixin-Iuaj9_r0rQtd_border-right-color: #dddddd;
  --mixin-Iuaj9_r0rQtd_border-right-style: solid;
  --mixin-Iuaj9_r0rQtd_border-right-width: 1px;
  --mixin-Iuaj9_r0rQtd_border-top-color: #dddddd;
  --mixin-Iuaj9_r0rQtd_border-top-style: solid;
  --mixin-Iuaj9_r0rQtd_border-top-width: 1px;
  --mixin-Iuaj9_r0rQtd_border-bottom-left-radius: 3px;
  --mixin-Iuaj9_r0rQtd_border-bottom-right-radius: 3px;
  --mixin-Iuaj9_r0rQtd_border-top-left-radius: 3px;
  --mixin-Iuaj9_r0rQtd_border-top-right-radius: 3px;
  --mixin-Iuaj9_r0rQtd_font-family: "Inconsolata";
  --mixin-Iuaj9_r0rQtd_padding-bottom: 3px;
  --mixin-Iuaj9_r0rQtd_padding-left: 6px;
  --mixin-Iuaj9_r0rQtd_padding-right: 6px;
  --mixin-Iuaj9_r0rQtd_padding-top: 3px;
  --mixin-Iuaj9_r0rQtd_white-space: pre-wrap;
  --mixin-7sKFy5P8vK6a_display: flex;
  --mixin-7sKFy5P8vK6a_flex-direction: column;
  --mixin-7sKFy5P8vK6a_align-items: stretch;
  --mixin-7sKFy5P8vK6a_justify-content: flex-start;
  --mixin-7sKFy5P8vK6a_list-style-position: outside;
  --mixin-7sKFy5P8vK6a_padding-left: 40px;
  --mixin-7sKFy5P8vK6a_position: relative;
  --mixin-7sKFy5P8vK6a_list-style-type: decimal;
  --mixin-7sKFy5P8vK6a_white-space: pre-wrap;
  --mixin-GEhWjE1eKf-6_display: flex;
  --mixin-GEhWjE1eKf-6_flex-direction: column;
  --mixin-GEhWjE1eKf-6_align-items: stretch;
  --mixin-GEhWjE1eKf-6_justify-content: flex-start;
  --mixin-GEhWjE1eKf-6_list-style-position: outside;
  --mixin-GEhWjE1eKf-6_padding-left: 40px;
  --mixin-GEhWjE1eKf-6_position: relative;
  --mixin-GEhWjE1eKf-6_list-style-type: disc;
  --mixin-GEhWjE1eKf-6_white-space: pre-wrap;
  --mixin-O8qPPyybIJen_color: #3291ff;
  --mixin-O8qPPyybIJen_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-GKFtL8FRuq58_font-family);
  font-size: var(--mixin-GKFtL8FRuq58_font-size);
  font-weight: var(--mixin-GKFtL8FRuq58_font-weight);
  font-style: var(--mixin-GKFtL8FRuq58_font-style);
  color: var(--mixin-GKFtL8FRuq58_color);
  text-align: var(--mixin-GKFtL8FRuq58_text-align);
  text-transform: var(--mixin-GKFtL8FRuq58_text-transform);
  line-height: var(--mixin-GKFtL8FRuq58_line-height);
  letter-spacing: var(--mixin-GKFtL8FRuq58_letter-spacing);
  white-space: var(--mixin-GKFtL8FRuq58_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-qEhFX4wsm4cU_color);
  font-size: var(--mixin-qEhFX4wsm4cU_font-size);
  font-weight: var(--mixin-qEhFX4wsm4cU_font-weight);
  letter-spacing: var(--mixin-qEhFX4wsm4cU_letter-spacing);
  line-height: var(--mixin-qEhFX4wsm4cU_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-QhR0zPzKP0O7_color);
  font-size: var(--mixin-QhR0zPzKP0O7_font-size);
  font-weight: var(--mixin-QhR0zPzKP0O7_font-weight);
  letter-spacing: var(--mixin-QhR0zPzKP0O7_letter-spacing);
  line-height: var(--mixin-QhR0zPzKP0O7_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-w3orHcJmFWPD_color);
  font-size: var(--mixin-w3orHcJmFWPD_font-size);
  font-weight: var(--mixin-w3orHcJmFWPD_font-weight);
  line-height: var(--mixin-w3orHcJmFWPD_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-aNIvWDLXDw_x_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-MFZvPgoSR-4I_color);
  padding-left: var(--mixin-MFZvPgoSR-4I_padding-left);
  border-left: var(--mixin-MFZvPgoSR-4I_border-left-width)
    var(--mixin-MFZvPgoSR-4I_border-left-style)
    var(--mixin-MFZvPgoSR-4I_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-jpENiQTP2Gx4_color);
  font-size: var(--mixin-jpENiQTP2Gx4_font-size);
  font-weight: var(--mixin-jpENiQTP2Gx4_font-weight);
  letter-spacing: var(--mixin-jpENiQTP2Gx4_letter-spacing);
  line-height: var(--mixin-jpENiQTP2Gx4_line-height);
  font-style: var(--mixin-jpENiQTP2Gx4_font-style);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-CW_uxrI9o3Xp_color);
  font-size: var(--mixin-CW_uxrI9o3Xp_font-size);
  font-weight: var(--mixin-CW_uxrI9o3Xp_font-weight);
  line-height: var(--mixin-CW_uxrI9o3Xp_line-height);
  letter-spacing: var(--mixin-CW_uxrI9o3Xp_letter-spacing);
  font-style: var(--mixin-CW_uxrI9o3Xp_font-style);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-j-MR4kkCPiD__color);
  font-size: var(--mixin-j-MR4kkCPiD__font-size);
  font-weight: var(--mixin-j-MR4kkCPiD__font-weight);
  line-height: var(--mixin-j-MR4kkCPiD__line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7FHSG7bP5Shn_font-family);
  border-radius: var(--mixin-7FHSG7bP5Shn_border-top-left-radius)
    var(--mixin-7FHSG7bP5Shn_border-top-right-radius)
    var(--mixin-7FHSG7bP5Shn_border-bottom-right-radius)
    var(--mixin-7FHSG7bP5Shn_border-bottom-left-radius);
  padding: var(--mixin-7FHSG7bP5Shn_padding-top)
    var(--mixin-7FHSG7bP5Shn_padding-right)
    var(--mixin-7FHSG7bP5Shn_padding-bottom)
    var(--mixin-7FHSG7bP5Shn_padding-left);
  border-top: var(--mixin-7FHSG7bP5Shn_border-top-width)
    var(--mixin-7FHSG7bP5Shn_border-top-style)
    var(--mixin-7FHSG7bP5Shn_border-top-color);
  border-right: var(--mixin-7FHSG7bP5Shn_border-right-width)
    var(--mixin-7FHSG7bP5Shn_border-right-style)
    var(--mixin-7FHSG7bP5Shn_border-right-color);
  border-bottom: var(--mixin-7FHSG7bP5Shn_border-bottom-width)
    var(--mixin-7FHSG7bP5Shn_border-bottom-style)
    var(--mixin-7FHSG7bP5Shn_border-bottom-color);
  border-left: var(--mixin-7FHSG7bP5Shn_border-left-width)
    var(--mixin-7FHSG7bP5Shn_border-left-style)
    var(--mixin-7FHSG7bP5Shn_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Iuaj9_r0rQtd_font-family);
  border-radius: var(--mixin-Iuaj9_r0rQtd_border-top-left-radius)
    var(--mixin-Iuaj9_r0rQtd_border-top-right-radius)
    var(--mixin-Iuaj9_r0rQtd_border-bottom-right-radius)
    var(--mixin-Iuaj9_r0rQtd_border-bottom-left-radius);
  padding: var(--mixin-Iuaj9_r0rQtd_padding-top)
    var(--mixin-Iuaj9_r0rQtd_padding-right)
    var(--mixin-Iuaj9_r0rQtd_padding-bottom)
    var(--mixin-Iuaj9_r0rQtd_padding-left);
  border-top: var(--mixin-Iuaj9_r0rQtd_border-top-width)
    var(--mixin-Iuaj9_r0rQtd_border-top-style)
    var(--mixin-Iuaj9_r0rQtd_border-top-color);
  border-right: var(--mixin-Iuaj9_r0rQtd_border-right-width)
    var(--mixin-Iuaj9_r0rQtd_border-right-style)
    var(--mixin-Iuaj9_r0rQtd_border-right-color);
  border-bottom: var(--mixin-Iuaj9_r0rQtd_border-bottom-width)
    var(--mixin-Iuaj9_r0rQtd_border-bottom-style)
    var(--mixin-Iuaj9_r0rQtd_border-bottom-color);
  border-left: var(--mixin-Iuaj9_r0rQtd_border-left-width)
    var(--mixin-Iuaj9_r0rQtd_border-left-style)
    var(--mixin-Iuaj9_r0rQtd_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-7sKFy5P8vK6a_display);
  flex-direction: var(--mixin-7sKFy5P8vK6a_flex-direction);
  align-items: var(--mixin-7sKFy5P8vK6a_align-items);
  justify-content: var(--mixin-7sKFy5P8vK6a_justify-content);
  list-style-position: var(--mixin-7sKFy5P8vK6a_list-style-position);
  padding-left: var(--mixin-7sKFy5P8vK6a_padding-left);
  position: var(--mixin-7sKFy5P8vK6a_position);
  list-style-type: var(--mixin-7sKFy5P8vK6a_list-style-type);
  flex-column-gap: var(--mixin-7sKFy5P8vK6a_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-GEhWjE1eKf-6_display);
  flex-direction: var(--mixin-GEhWjE1eKf-6_flex-direction);
  align-items: var(--mixin-GEhWjE1eKf-6_align-items);
  justify-content: var(--mixin-GEhWjE1eKf-6_justify-content);
  list-style-position: var(--mixin-GEhWjE1eKf-6_list-style-position);
  padding-left: var(--mixin-GEhWjE1eKf-6_padding-left);
  position: var(--mixin-GEhWjE1eKf-6_position);
  list-style-type: var(--mixin-GEhWjE1eKf-6_list-style-type);
  flex-column-gap: var(--mixin-GEhWjE1eKf-6_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-O8qPPyybIJen_color);
}
