.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox__cCoWc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #a8002a;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.freeBox___9QO7E {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 11px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 768px) {
  .freeBox___9QO7E {
    justify-content: center;
    align-items: flex-start;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .img {
    object-fit: cover;
    max-width: 1000px;
  }
}
@media (min-width: 768px) {
  .img > picture > img {
    object-fit: cover;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  color: var(--token-9CDxn0hpnzzB);
  line-height: 1.2;
  min-width: 0;
}
.freeBox___7Iee {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.form:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  object-fit: cover;
  width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__vhil7:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__xrOSg {
  position: relative;
  padding-right: 0px;
}
.input:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__oGSwM:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__zVmjd {
  position: relative;
}
.input2:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__nuMep:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text___2IKh {
  position: relative;
}
.freeBox__xila {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.formField__iLiI:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.text__yayqY {
  position: relative;
}
.input3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__vrDqu:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  min-width: 0;
}
.checkbox:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__zoH5E {
  position: relative;
}
.text___0B4G {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text___6T3Wl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.merci {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  min-width: 0;
}
